*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;

}
.mainbox{
    height: 1200px;
    width: 1300px;

    
}
.navbar{
    background-color:white;
    box-shadow: 0 3px 4px whitesmoke;
    height:60px;


}
 .name{
    position:absolute;
    left:90px;
    top:18px;
    align-self: center;
    

}
 .name h6{
    font-weight: 700;

}
.navbar .nav-option{
    position:absolute;
    right:20px;
}
.navbar .nav-option a{
    padding:18px;
    text-decoration: none;
    font-weight: 700;
    color:black;
    align-self:center;
}
.navbar .nav-option a:hover{
    text-decoration:solid;
    color:hotpink;
    
}
.intro{
    margin-top:50px;
    margin-left: 50px;

    
}
.intro .hi h1{
    font-weight: 300;

}
.nam{
    
    font-size:30px;
    font-weight: 900;
    color:rgb(189, 76, 132);
}


.intro button {
    padding:5px;
    font-size: 25px;
    border-radius: 10px;
    border:  solid hotpink;
    background-color: hotpink;

}
.intro  button:hover{
    background-color: rgb(238, 70, 151);

}
.icons{
    margin-left: 30px;
    margin-top: 35px;
    

}
.icons a{
    padding: 20px;
    font-size: 30px;
    

}
.part2{
    margin-top:80px;
    height: 30%;
    background-color:#232323;
    z-index: 1;
    color: white;
}
.headin {
    position:relative;
    top:200px;
    left:445px;
    font-weight: 600;
    
    
}
.skill p{
    position:relative;
    top:195px;
    left:365px;
}
.container{
    position: absolute;
    top:770px;
    display: flex;
    justify-content: space-around;
    

    
}
.card{
    
    height:100px;
    padding:40px;
    margin-left: 20px;
    margin-top: 90px;
    width:250px;
    
    
    
    

}
.card i{
    
    font-size:50px;
    font-weight:600;
    align-self:center;
    

}
.card .card-title{
    align-self: center;
}
.card:hover{
    box-shadow: 3px 2px 3px 4px rgba(183, 86, 128);
    transition:  1s  ease-out ;
}
.card p{
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.image {
    
    position:absolute;
    top: 90px;
    left:50%;
    height: 90;
   
    z-index: -2;
}
.image img {
    
    height: 70%;
    width:70%;
    
    
}
.about{
    position:absolute;
    top:110%;
    left:40px;
    text-align:left;
    width:80%;

}
.about h3{
    font-size: 30px;
    font-weight: 700;

}
.about h3:hover{
    text-decoration: underline;
}
.about p{
   font-size: 18px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.download {
    position:absolute;
    top:206%;
    left:550px;
    
}
.download button{
    background-color: hotpink;
    padding:5px;
    font-size: 20px;
    border:solid hotpink;
    background-color: hotpink;
    border-radius:10px;


}
.download button:hover{
    background-color: rgb(238, 70, 151);
}
.download p{
    font-weight: 200;

}
.footer{
    height: 50px;
    background-color:#232323;
    margin-top:300px;


}
@media(max-width:1000px){
    .skill{
        display:none;
    }
}
@media(max-width:1000px){
    .download{
        position:absolute;
        left:200px;
    }
}
@media(max-width:1000px){
    .download {
        display:none;
    }
}
@media(max-width:1000px){
    .card{
        padding: 10px;
        text-align: center;
        margin-top: 40px;
    }
}


 




    


    
   
